<!-- <h2 mat-dialog-title> Session timeout </h2>
<mat-dialog-content>
    Hi {{ data.name }}. You will be logged out due to inactivity
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="true"> Keep me logged in </button>
    <button mat-button mat-dialog-close mat-dialog-close="false"> Logout </button>
</mat-dialog-actions> -->



<!-- <div class="col-lg-6 col-md-12 col-sm-12">
    <h2 mat-dialog-title> Session timeout </h2>
</div>

<div class="col-lg-6 col-md-12 col-sm-12">
    <div class="row">
        <div class="col-10">
            <mat-dialog-content>
                Hi {{ data.name }}. You will be logged out due to inactivity
            </mat-dialog-content>
        </div>    
        <div class="col-2"></div>
    </div>
</div>

<div class="col-lg-6 col-md-12 col-sm-12">
    <mat-dialog-actions>
        <button mat-button mat-dialog-close mat-dialog-close="true"> Keep me logged in </button>
        <button mat-button mat-dialog-close mat-dialog-close="false"> Logout </button>
    </mat-dialog-actions>
</div> -->

<!-- MUCH NEEDED -->

<!-- <div class="d-flex align-items-center justify-content-center settings flex-column">
    <h2 mat-dialog-title class="header"> Session timeout </h2>
    <div class="d-flex body">
        <form>
            <div class="row">
                <mat-form-field class="col-12 col-lg-6 p-3">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>

                <mat-form-field class="col-12 col-lg-6 p-3 float-lg-right">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12 col-lg-6 p-3">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>

                <mat-form-field class="col-12 col-lg-6 p-3 float-lg-right">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12 col-lg-6 p-3">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>

                <mat-form-field class="col-12 col-lg-6 p-3 float-lg-right">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>
            </div> 

        </form>
    </div>
    <div class="footer">
        <div class="float-left pb-2">
            <button mat-raised-button class="mat-primary cursor">Back</button>
        </div>
        <div class="float-right pb-2">
            <button mat-raised-button class="mat-primary cursor">Save and
                Close</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button class="mat-primary cursor">Save and Continue
            </button>
        </div>
    </div>
</div> -->




<div class="d-flex settings flex-column">
    <!-- <h2 mat-dialog-title class="header"> Session timeout </h2> -->
    <div class="d-flex body">
        <form style="margin: auto;">
            <div class="row">
                <mat-form-field class="col-12 col-lg-6 p-3">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>

                <mat-form-field class="col-12 col-lg-6 p-3 float-lg-right">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12 col-lg-6 p-3">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>

                <mat-form-field class="col-12 col-lg-6 p-3 float-lg-right">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12 col-lg-6 p-3">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>

                <mat-form-field class="col-12 col-lg-6 p-3 float-lg-right">
                    <input matInput placeholder="Assignment Name" name="assignmentName" formControlName="assignmentName"
                           maxlength="50" required>
                  
                </mat-form-field>
            </div> 

        </form>
    </div>
    <div class="footer">
        <div class="float-left pb-2">
            <button mat-raised-button class="mat-primary cursor">Back</button>
        </div>
        <div class="float-right pb-2">
            <button mat-raised-button class="mat-primary cursor">Save and
                Close</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button class="mat-primary cursor">Save and Continue
            </button>
        </div>
    </div>
</div>



