<div class="container">
    <!-- 
    <button mat-raised-button> Mat button </button>

    <app-expansion></app-expansion>
    <app-accordion></app-accordion>
    <app-card></app-card>
    <app-tabs></app-tabs>
    <app-input></app-input>
    <app-select></app-select> 
    <app-checkbox></app-checkbox> 
    <app-radio></app-radio> 
    <app-date-picker></app-date-picker> 
    <app-tool-tip></app-tool-tip> 
    <app-snackbar></app-snackbar> 
    <app-dialog></app-dialog> 
    <app-data-table></app-data-table> 
    <app-drag-drop></app-drag-drop> -->
    
    <!-- <app-add-class></app-add-class>
    <app-edit-class></app-edit-class> -->
    <!-- <app-drag-drop></app-drag-drop> -->

    <!-- <app-dialog></app-dialog> 
    <app-add-class></app-add-class> -->
</div>

<!-- <app-dynamic-table></app-dynamic-table> -->
<!-- <app-dynamic-school-table></app-dynamic-school-table> -->

<!-- <app-performance-tab></app-performance-tab> -->
<!-- <app-custom-tooltip></app-custom-tooltip> -->
<!-- <app-add-class></app-add-class> -->

<!-- <app-select-auto-complete></app-select-auto-complete> -->
<!-- <app-data-table></app-data-table> -->

<!-- <app-assesments-auto-complete minValue=45 maxValue=90></app-assesments-auto-complete> -->

<!-- <app-radio></app-radio>
<app-radio-card></app-radio-card> -->

<!-- <app-tabs></app-tabs>  -->

<!-- <app-flex-demo></app-flex-demo> -->
<!-- <app-text-area-resize></app-text-area-resize> -->

<!-- <app-image-demo></app-image-demo> -->

<!-- <app-overlay></app-overlay> -->

<app-expansion></app-expansion>