<div style="margin: 20px">
    <div >
        <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
            <mat-tab label="Angular"> 
                <!-- <ng-template matTabContent> -->
                    Angular Content 
                    <app-input></app-input>
                <!-- </ng-template> -->
            </mat-tab>
            <mat-tab label="React"> React content </mat-tab>
            <mat-tab label="Vue"> Vue content </mat-tab>
            <!-- <mat-tab [disabled]="true"> </mat-tab> -->
        </mat-tab-group>
    </div>
</div>
<!-- {{ tabRef.selectedIndex }} -->