<!-- <div class="example-container">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
  
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> -->

<div class="example-container">
  <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="school" sticky>
          <th mat-header-cell *matHeaderCellDef> {{rowHeader | uppercase}}  </th>
          <!-- <td mat-footer-cell *matFooterCellDef> {{ "All" | uppercase}}  </td> -->
          
          <td mat-cell *matCellDef="let element; let i =index; ">
            {{element.schoolName}} 
            <!-- <div *ngIf="i != 0; else firstRow"> {{element.schoolName}}  </div>
            <ng-template #firstRow> {{ "All" | uppercase}} </ng-template> -->
          </td>
      </ng-container>

      <ng-container *ngFor="let test of unitTests | keyvalue" [matColumnDef]="'UT' + test.value.id">
          <th mat-header-cell *matHeaderCellDef> {{ 'h' + test.value.id | uppercase}} </th>
          <!-- <td mat-footer-cell *matFooterCellDef> {{ getAveragePercentage() }}  </td> -->

          <!-- <td mat-cell *matCellDef="let element"> {{ test.get('UT' + test.value.position).weight }} </td> -->
          <!-- <td mat-cell *matCellDef="let element"> {{ element['H' + test.value.position] }} </td> -->
          <td mat-cell *matCellDef="let element; let i = index;">     
            <!-- {{ element.grades.get(test.key).score }}       -->
            <span *ngIf="i != 0; else firstRow"> {{ element.grades.get(test.key).score }}  </span> 
            <ng-template #firstRow> {{getAveragePercentage()}} </ng-template >
          </td>
      </ng-container>
      
      <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> {{ "action" | uppercase}} </th>
          <!-- <td mat-footer-cell *matFooterCellDef> - </td> -->

          <td mat-cell *matCellDef="let i = index;">        
            <div *ngIf="i == 0 &&  paginator.pageIndex == 0; else firstRow" > -- </div>               
              <ng-template  #firstRow> <mat-icon>remove_red_eye</mat-icon> </ng-template >
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div> 